 .block {
    position: relative;
    padding: 20px 15px 20px 20px;
    border: 1px solid #747474;
    border-top: 1px solid #487922;
    background: #ededed;
    margin: 20px;
  }
  
  .block div {
    margin-bottom: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
  }
  
  .flex-item {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
